<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="com.fridaymove.Listeners"/>
  <listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test name="CallBack Functionality">
    <classes>
     <class name="com.fridaymove.CallbackFunctionality"/>
    </classes>  
  </test>
    
  <test name="Verification of Logo Present">
    <classes>
     <class name="com.fridaymove.logoVerify"/>
    </classes>
  </test>
      
    <test name="Residential Purchase option">
    <classes>
      <class name="com.fridaymove.Purchase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
